body{
    font-family: 'Rubik', sans-serif;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    background: orange;
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone i{
    color: black;
}
.phone a{
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.reg{
    width: 50%;
    text-align: right;

}
.reg a{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.social-icon{
    display: inline-block;
    width: 50%;

}
.social-icon p{
    display: block;
    width: 100%;
}
.social-icon p a{
    height: 30px;
    margin-right: 10px;
}
.social-icon p a i{
    font-size: 13px;
    color: black;
}
.social-icon p a:hover{
    background: orange;
    border-color: orange;
}
.social-icon p a:hover i{
    color: white;
}
/*====Navbar======*/
.bg-color{
    background: black;
}
.navbar-brand{
    color: orange;
    font-weight: bold;
    font-size: 35px;
}
.nav-link{
    font-weight: bold;
    color: orange;
    font-size: 20px;
}
.btn-group{
    color: orange;
}
.navbar-toggler i{
    color: orange;
}
/*====Navbar End======*/


/*====Hero section======*/
#hero{
    display: table;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url(./Images/Jollof-rice.jpg) top center;
    background-size: 100%;
}
@media (min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}
#hero .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero .hero-container{
   display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
}
@media (max-width: 768px){
    #hero h1{
        font-size:28px;
        line-height: 36px;
    }
}
#hero h2{
    color: white;
    font-style: italic;
}
@media (max-width: 768px){
    #hero h2{
        font-size:24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: rgb(248, 248, 19);
    border: 2px solid brown;
    color: white;
} 
#hero .btn-get-started:hover{
    background: none;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-style: italic;
}
/*====Hero section End======*/
/*====category section======*/
.category{
    padding-bottom: 40px;
}
.category .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}
.category .card-img{
    width: calc(100% + 60px);
    margin-left: -30px;
     overflow: hidden;
     z-index: 9;
     border-radius: 0;
}

.category .card-img img{
    max-width: 100%;
    transition: all 0.3s ease-in-out;
    
}
.category .card-body{
    z-index: 10;
    background: #ff9b04a6;
    border-top: 4px solid #f08902;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(241, 159,5 , 0.5);
    margin-top: -60px;
    transition: 0.3s;
}
.category .card-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.category .card-title a{
    color: black;
    transition: 0.3s;
}
.category .card-text{
    color: black;
}
.category .read-more a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
}
.category .read-more a{
    color: rgb(122, 83, 9);
}
.category .card:hover img{
    transform: scale(1.1);

}
.category .card:hover .card-body{
    border-color: yellow;
}
.category .card:hover .card-body .card-title a{
    color: #854101;
}






























/*====category section======*/

